.vscode
.python-version
*.pyc

 # Pycharm/VSCode configuration
.idea/
.vscode

 # Local Settings file for passwords & secret keys #
config/settings/local.py

# Coverage
.coverage
coverage_html/

# OSF API JSON
presqt/osf/osf_api.json

# Personal Management Command to test OSF API
presqt/management/commands/osf_test.py