.vscode
.python-version
*.pyc

 # Pycharm/VSCode configuration
.idea/
.vscode

 # Local Settings file for passwords & secret keys #
config/settings/local.py

# Coverage
.coverage
coverage_html/
.coverage.*

# OSF API JSON
presqt/osf/osf_api.json

# Media Files directory
mediafiles/downloads/
mediafiles/uploads/

# SSL certs and private keys
config/ssl/certs/
config/ssl/private/
.DS_Store

